.contenedor-servicios-destacados{
    display: flex;
    flex-direction: column;

}
.titulo-servicios-destacados{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15pt;
}

.mySwiper{
    background-color: rgb(146, 144, 144);
    height: 400px;    
}

.swiper-slide-descatados {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
        background-color: rgb(146, 144, 144);
    height: 400px; 
}